.gridLayout{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    max-width:800px;
    min-height:400px;
    margin: 40px auto 20px auto;

}
.box{
    background-color:#f0f0f0;
    border: 1px solid #ccc;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
     text-align:center; 
    border-radius:8px;

}