/* *{
  margin:0;
  padding:0;
  
  box-sizing:border-box;
  font-family:sans-serif;
  overflow-x:hidden;

} */
 html, body {
    height: 100%; 
    width: 100%;
    overflow-x: hidden; /* Keeps content constrained horizontally */
    margin: 0;
    padding: 0;
}

.container{
  width:100%;
  height:100vh;
  background:#ced8ff;
  transition:0.5s;
}
.container.dark{
  background:#222;
}